/*Hummer and tongues top and bottom heading*/
html{
  width: 100vw;
}

body a {
   color: #fff;  
 
}

.navbar-fixed-top {
  display: flex;
  width: 100%;
  height: 80px;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.0);
  font-size: 1.05em;
  color: #fff;
  text-transform: none;
  font-family: 'Fira Sans', sans-serif;
  border-bottom: none;
  text-decoration: none;
  
}

.navbar-fixed-bottom{
  display: flex;
  width: 100%;
  height: 130px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.05em;
  color: #fff;
  text-transform: none;
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  border-top: 1% outset;
  text-decoration: none;


}

/*************************************** 
  top menu mouse hover effect
****************************************/

.navbar-fixed-top:hover a {
    text-decoration: none;
    background-color: rgba(255,255,255,0.8);
    color: rgba(21, 21, 21, 1);
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: none; 
}

/* ***************************************
Make the headings underlined on mouse hover 
********************************************/
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #660099;
    transition: width .4s;

}

.cool-link:hover::after {
    width: 100%;
    //margin-left: 10%; /*trying to align the underlining effects with the heading link on mene top fixed bar*/
    transition: width .3s;
}

/* bottom menu on mouse hover  */
.navbar-fixed-bottom #item3:hover a {
    text-decoration: none;
    background-color: rgba(255,255,255,0.8);
    color: rgba(21, 21, 21, 1);
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: none;
}


#item1{
  display: flex;
  flex: 1;
  border-right: 0.2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  text-align: center;
  flex-direction: column;
}



#item2{
  display: flex;
  flex: 3;
  border-right: 0.2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* bottom links with no border     */

#item3{
  display: flex;
  flex: 2;
  border-right: 0px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  

}

/* Main Content (background images)

***********************************************************************
NOTE!! will have to replace the  back colors with corresponding banners
***********************************************************************

 */

.main{
  background-image: url(img/Banner/banner2.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  
}

.overlay {
 background-color: rgba(0,0,0,0.5);
  height: 100vh;
  //top: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  display: block;
}

/* Make the <a> links on the top Nav to be bold  and the center link to be larger */
 .bold-link {
  font-weight: bold;
  font-size: 0.9em;

 }

.center-link{
  font-family: 'Comfortaa', cursive;
  font-size: 20px;
  padding-top: 30px;
}

.right-link{
  font-family: 'Dosis', sans-serif;
}

.bottom-icon{
  font-size: 25px;
}


/* css for banner text or slides caption */

h1.banner-head {
  padding: 20% 20px 20px 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
 

}

#div2{  
   //visibility: hidden;   /*  hiding the heading text or info before mouse hover   */
  }

p {
  padding-left: 40px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  
}


#banner-info {
  font-size: 0.75em;
  color: #FFF;
  writing-mode: vertical-rl;
  transform: rotate(360deg);
  position: absolute;
  //margin-top: 100px;
  right: 50px;
  top: 40%;
  text-transform: uppercase;
  letter-spacing: 0.20ex;
  flex: 1;
}

.row {
  margin-right: 0px;
}

/******************************************
   hide text and display it on hover 
******************************************/
